@model IIS_Client.Models.Weapon

@{
    ViewData["Title"] = "Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Data</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penetration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penetration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReloadSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReloadSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Magazine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Magazine)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" href="@Url.Action("Index","Home")">Back to List</a>
</div>
